body {
  font-size: 12px;
}

.resultItem {
  background-color: #ffffff;
  border: 10px solid #39435A;
  font-size: 2.5vw;
  margin-top: 2vh;
  margin-right: 2vw;
  padding: 1.5vw;
  text-align: justify;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.resultItem:hover {
  border: 10px solid #FFA500;
  width: 90%;
}
